.navbar-links {
  font-weight: 600;
  color: rgb(63, 63, 63);
}
.navbar-links:hover {
  cursor: pointer;
  color: #1075bb;
}
.front-page-h1 {
  font-weight: 700;
  font-size: 60px;
  color: #323232;
  margin: 0;
}
.front-page-text {
  font-size: 18px;
}
.tri-section {
  padding: 7rem 0;
}
.tri-section h4,
.tri-section p {
  color: rgb(63, 63, 63);
}
.tri-icons {
  color: #1075bb;
  font-size: 60px;
}
.video-section {
  background-color: #f8f9fe;
  color: rgb(63, 63, 63);
}
.video-section .col-right {
  padding: 6rem 6rem 6rem 6rem;
}
.services {
  padding: 5rem 0;
  color: rgb(63, 63, 63);
}
.services-icons {
  color: #1075bb;
  font-size: 60px;
}
.special-offer {
  padding: 6rem 0;
  background: #0f6b9e;
  color: white;
}
.benefits {
  background: #f8f9fe;
  padding: 6rem 0;
  color: rgb(63, 63, 63);
}
